<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Błąd</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<div class="d-flex justify-content-center" style="margin-top: 3%">
    <h3>Wprowadzono niepoprawne wartości</h3>
</div>

<br/>

<div class="d-flex justify-content-center">
    <a href="/">
        <button class="btn btn-info">
            Wróć
        </button>
    </a>
</div>

</body>
</html>