<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Kalkulator cm-MOA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<h1 class="nav justify-content-center font-weight-bold" style="margin-top: 3%">MOA Kalkulator</h1>

<br/>
<div >
    </div>
<div class="nav justify-content-center" style="width: auto">
<form th:method="post">
    <div class="form-group"><br/>
        <label class="d-flex justify-content-center" style="margin: 10px">Podaj przesunięcie na tarczy (w centymetrach)</label>
        <input class="form-control form-control-lg text-center" th:name="deviation" type="number" step="0.01" value="0" th:value="${deviation} ? ${deviation} : 0"/>
    </div>
    <div class="form-group">
        <label  class="d-flex justify-content-center">Podaj dystans (w metrach)</label>
        <input class="form-control form-control-lg text-center" th:name="distance" type="number" value="0" th:value="${distance} ? ${distance} : 0"/>
    </div>
    <input class="form-control btn btn-info" type="submit" value="Oblicz"/>
</form>
</div>
<br/>
<br/>

<div class="nav justify-content-center">
<p>Podana wartość w MOA: <span class="font-weight-bold" th:text="${result.getMoa()}"/></p>
</div>
<div class="nav justify-content-center">
    <p class="nav-item">Dla skali regulacji 1/4 MOA należy skorygować ustawienia o : <span class="font-weight-bold" th:text="${result.getMoaIn4ClickScale()}"/> kliknięć </p>
</div>
<div class="nav justify-content-center">
    <p>Dla skali regulacji 1/8 MOA należy skorygować ustawienia o : <span class="font-weight-bold" th:text="${result.getMoaIn8ClickScale()}"/> kliknięć</p>
</div>
<div class="nav justify-content-center">
    <p>Odchylenie, którego nie da się skorygować w przypadku skali 1/4 MOA to: <span class="font-weight-bold" th:text="${result.getDeviationInMOA4Clicks()}"/> MOA</p>
</div>
<div class="nav justify-content-center">
    <p>Odchylenie, którego nie da się skorygować w przypadku skali 1/8 MOA to: <span class="font-weight-bold" th:text="${result.getDeviationInMOA8Clicks()}"/> MOA</p>
</div>
<div class="nav justify-content-center">
    <p>Odchylenie, którego nie da się skorygować w przypadku skali 1/4 MOA to: <span class="font-weight-bold" th:text="${result.getDeviationInCentimeters4Clicks()}"/> centrymetrów</p>
</div>
<div class="nav justify-content-center">
    <p>Odchylenie, którego nie da się skorygować w przypadku skali 1/8 MOA to: <span class="font-weight-bold" th:text="${result.getDeviationInCentimeters8Clicks()}"/> centymatrów</p>
</div>

</body>
</html>